{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.slug }}</td>
                <td>{{ article.content }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('article_show', {'id': article.id}) }}">Show</a>
                    <a class="btn btn-warning" href="{{ path('article_edit', {'id': article.id}) }}">Edit</a>
                    {{ include('Back/Article/_delete_form.html.twig', {'article': article}) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('article_new') }}">Create new</a>
{% endblock %}
