{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ article.slug }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>{{ article.tags|join(',') }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('article_index') }}">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Back to list
    </a>

    <a class="btn btn-warning" href="{{ path('article_edit', {'id': article.id}) }}">Edit</a>

    {{ include('Back/Article/_delete_form.html.twig') }}
{% endblock %}
