{% extends 'base.html.twig' %}

{% block title %}Tag index{% endblock %}

{% block body %}
    <h1>Tag index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('tag_show', {'id': tag.id}) }}">Show</a>
                    <a class="btn btn-warning" href="{{ path('tag_edit', {'id': tag.id}) }}">Edit</a>
                    {{ include('tag/_delete_form.html.twig', {'tag': tag}) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tag_new') }}">Create new</a>
{% endblock %}
